ion-content.background{
    --background:  radial-gradient(circle, #eeeeee, #e7e1ff, #e3e6ff, #e4e6ff, #e3e8fe);
}

.langFrame {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px !important;
}
 