<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="menuBtn"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="margin-bottom: 5px; margin-top: 5px;">
    <!-- <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
      (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
      <ion-slide style="align-items: center;">
        <div style="align-items: center;">
          <ion-card class="haber" button>
            <div>
              <ion-img style="width:100% !important; height: 50% !important; " src="assets/img/logo.png"></ion-img>
            </div>
            <ion-card class="overlay">
              <div style="text-align: left;">
                <h2>
                  Başlık
                </h2>
                <ion-badge style="background-color: #921c1ca2;">
                  <h3>
                    Tarih
                  </h3>
                </ion-badge>
              </div>
            </ion-card>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides> -->
  </ion-grid>

  <ion-grid style="margin-bottom: 10px;">
    <ion-row style="padding-top: 7px; padding-bottom: 0px; border-radius: 5px;" class="ion-justify-content-center">
      <button class="btn-grad" (click)="goFood()">
        <ion-icon class="buttonIcon" name="home"></ion-icon>
        <p style="margin-top: 10px;">Gıda</p>
      </button>
      <button class="btn-grad" (click)="goDress()">
        <ion-icon class="buttonIcon" name="home"></ion-icon>
        <p style="margin-top: 10px;">Giyecek</p>
      </button>
      <button class="btn-grad" (click)="goShelter()">
        <ion-icon class="buttonIcon" name="home"></ion-icon>
        <p style="margin-top: 10px;">Barınma</p>
      </button>
      <button class="btn-grad" (click)="goShelter()">
        <ion-icon class="buttonIcon" name="home"></ion-icon>
        <p style="margin-top: 10px;">İlaç</p>
      </button>
      <button class="btn-grad" (click)="goShelter()">
        <ion-icon class="buttonIcon" name="home"></ion-icon>
        <p style="margin-top: 10px;">Hastane</p>
      </button>
      <button class="btn-grad" (click)="goShelter()">
        <ion-icon class="buttonIcon" name="home"></ion-icon>
        <p style="margin-top: 10px;">Hastam Nerede</p>
      </button>
      <button class="btn-grad" (click)="goWater()">
        <ion-icon class="buttonIcon" name="home"></ion-icon>
        <p style="margin-top: 10px;">Sıvı Dengesi</p>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>