<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menuBtn"></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-bottom: 10px;">
    <ion-row class="ion-justify-content-center">
      <button class="btn-grad" *ngFor="let button of buttonList" (click)="goToPage(button.action)">
        <ion-icon class="buttonIcon" [name]="button.icon"></ion-icon>
        <p style="margin-top: 10px;">{{ button.label | translate }}</p>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>