<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Charts Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chart-container">
    <div class="chart-card">
      <h3>Personnel Chart (Bar Chart)</h3>
      <canvas id="PersonnelChart"></canvas>
    </div>

    <div class="chart-card">
      <h3>Customer Chart (Pie Chart)</h3>
      <canvas id="CustomerChart"></canvas>
    </div>

    <div class="chart-card">
      <h3>Sales Chart (Line Chart)</h3>
      <canvas id="SalesChart"></canvas>
    </div>
  </div>
</ion-content>
