<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CAMERA.CAMERA' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camera-container">
    <img *ngIf="capturedImage" [src]="capturedImage" alt="Captured Image" class="captured-image" />
    <ion-button expand="block" (click)="handleAction()">{{ 'CAMERA.TAKE_PHOTO' | translate}}</ion-button>

    <input
      type="file"
      accept="image/*"
      #fileInput
      style="display: none"
      (change)="handleFile($event)"
    />
  </div>
</ion-content>
