<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menuBtn"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'ABOUT_ME.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'ABOUT_ME.PERSONAL_INFO' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>{{ 'ABOUT_ME.NAME' | translate }}:</strong> Adem Demir</p>
      <p><strong>{{ 'ABOUT_ME.EMAIL' | translate }}:</strong> <a (click)="openUrl('mailto:adem.demir.fe@gmail.com')">adem.demir.fe&#64;gmail.com</a></p>
      <p><strong>{{ 'ABOUT_ME.PHONE' | translate }}:</strong> +90 506 180 21 28</p>
      <p><strong>{{ 'ABOUT_ME.WEBSITE' | translate }}:</strong> <a (click)="openUrl('https://incomparable-babka-53fdb9.netlify.app/')">My Portfolio</a></p>
      <p><strong>{{ 'ABOUT_ME.ADDRESS' | translate }}:</strong> Etimesgut, Ankara</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'ABOUT_ME.SOCIAL_MEDIA' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>{{ 'ABOUT_ME.GITHUB' | translate }}:</strong> <a (click)="openUrl('https://github.com/AdemDemirFE')">github.com/AdemDemirFE</a></p>
      <p><strong>{{ 'ABOUT_ME.LINKEDIN' | translate }}:</strong> <a (click)="openUrl('https://www.linkedin.com/in/ademdemirfe')">linkedin.com/in/ademdemirfe</a></p>
      <p><strong>{{ 'ABOUT_ME.TWITTER' | translate }}:</strong> <a (click)="openUrl('https://twitter.com/adem_demir_fe')">&#64;adem_demir_fe</a></p>
      <p><strong>{{ 'ABOUT_ME.INSTAGRAM' | translate }}:</strong> <a (click)="openUrl('https://instagram.com/adem.fe.23')">&#64;adem.fe.23</a></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'ABOUT_ME.EDUCATION' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>{{ 'ABOUT_ME.UNIVERSITY_1' | translate }}:</strong> Anadolu Üniversitesi - Yönetim Bilişim Sistemleri</p>
      <p><strong>{{ 'ABOUT_ME.UNIVERSITY_2' | translate }}:</strong> Mersin Üniversitesi - Bilgisayar Programcılığı</p>
      <p><strong>{{ 'ABOUT_ME.UNIVERSITY_3' | translate }}:</strong> Anadolu Üniversitesi - Halkla İlişkiler ve Reklamcılık</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'ABOUT_ME.WORK_EXPERIENCE' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>AKGÜN TECHNOLOGY</h3>
      <p><strong>{{ 'ABOUT_ME.SOFTWARE_DEVELOPER' | translate }}</strong></p>
      <p><strong>{{ 'ABOUT_ME.FULL_TIME' | translate }}</strong></p>
      <p>{{ 'ABOUT_ME.AKGUN_PERIOD' | translate }}</p>
      <p>{{ 'ABOUT_ME.AKGUN_LOCATION' | translate }}</p>
      <p>{{ 'ABOUT_ME.AKGUN_DESCRIPTION' | translate }}</p>
      <p><strong>{{ 'ABOUT_ME.SKILLS' | translate }}:</strong> {{ 'ABOUT_ME.AKGUN_SKILLS' | translate }}</p>
      <hr>
  
      <h3>Devin Tanıtım</h3>
      <p><strong>{{ 'ABOUT_ME.SOFTWARE_DEVELOPER' | translate }}</strong></p>
      <p>{{ 'ABOUT_ME.DEVIN_PERIOD' | translate }}</p>
      <p>{{ 'ABOUT_ME.DEVIN_LOCATION' | translate }}</p>
      <p>{{ 'ABOUT_ME.DEVIN_DESCRIPTION' | translate }}</p>
      <p><strong>{{ 'ABOUT_ME.SKILLS' | translate }}:</strong> {{ 'ABOUT_ME.DEVIN_SKILLS' | translate }}</p>
      <hr>
  
      <h3>Kuasar Teknoloji</h3>
      <p><strong>{{ 'ABOUT_ME.SOFTWARE_DEVELOPER' | translate }}</strong></p>
      <p>{{ 'ABOUT_ME.KUASAR_PERIOD' | translate }}</p>
      <p>{{ 'ABOUT_ME.KUASAR_LOCATION' | translate }}</p>
      <p>{{ 'ABOUT_ME.KUASAR_DESCRIPTION' | translate }}</p>
      <p><strong>{{ 'ABOUT_ME.SKILLS' | translate }}:</strong> {{ 'ABOUT_ME.KUASAR_SKILLS' | translate }}</p>
      <hr>
  
      <h3>{{ 'ABOUT_ME.INTERNSHIPS' | translate }}</h3>
      <p><strong>Etimesgut Belediyesi (2015)</strong></p>
      <p>{{ 'ABOUT_ME.ETIMESGUT_DESCRIPTION' | translate }}</p>
      <p><strong>{{ 'ABOUT_ME.SKILLS' | translate }}:</strong> {{ 'ABOUT_ME.ETIMESGUT_SKILLS' | translate }}</p>
      <hr>
      <p><strong>T.C. Enerji ve Tabii Kaynaklar Bakanlığı (2014 - 2015)</strong></p>
      <p>{{ 'ABOUT_ME.ENERJI_DESCRIPTION' | translate }}</p>
      <p><strong>{{ 'ABOUT_ME.SKILLS' | translate }}:</strong> {{ 'ABOUT_ME.ENERJI_SKILLS' | translate }}</p>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'ABOUT_ME.HOBBIES' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ 'ABOUT_ME.HOBBIES_LIST' | translate }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>